.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: #555555;
}
a:hover{
    color: #990000;
    text-decoration: none;
}

body {
    background: #f5f5f5;
}

.bg_blue{
    background-color: #256BA9!important;
}

/*头部*/
.navbar-header button span{
    background-color: #fff;
}



.navbar{
    margin: 0;
    border-bottom: 1px solid #999;
}

nav a{
    color: #fff;
}

.navbar-header a:hover,.navbar-header a:focus{
    background-color: #205B91;
    color: #fff;
}

.bg_blue .navbar-nav a:focus, .bg_blue .navbar-nav a:hover{
    background-color: #205B91;
    color: #fff;
}
.bg_blue .navbar-nav .active a, .bg_blue .navbar-nav .active a:focus, .bg_blue .navbar-nav .active a:hover{
    background-color: #205B91;
    color: #fff;
}

.navbar {
    border-radius: 0;
}

.header_img{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/pg_bg_20190301.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    margin: 0;
    text-align: center;
}

.pageTitle{
    max-width: 1140px;
    padding: 100px 100px;
}

.pageTitle h1{
    font-size: 40px;
    color: #fff;
    margin: 30px 0;
}

.pageTitle h4{
    color: #fff;
}

/*中间部分*/
.thumbnail .caption h3 {
    position:relative;
    line-height:30px;
    /* 3 times the line-height to show 3 lines */
    height:60px;
    overflow:hidden;
}
.thumbnail .caption h3::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    background:url(/image/ellipsis_bg.png) repeat-y;
}

.thumbnail .caption p {
    position:relative;
    line-height:20px;
    /* 3 times the line-height to show 3 lines */
    height:140px;
    overflow:hidden;
}
.thumbnail .caption p::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    background:url(/image/ellipsis_bg.png) repeat-y;
}

.well{
    background-color: #fff;
}

.well .table{
    border: 1px solid #eee;
    /*table-layout: fixed;*/
}
/*
.well .table td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/


.page-header{
    padding: 0;
    margin: 0;
}

.userInCon{
    margin-top: 10px;
    padding: 0;
}
.userInCon li{
    list-style: none;
    margin-top: 5px;
}

.links li{
    margin-top: 5px;
}

.list-group{
    padding-left: 10px;
    border-left:3px solid #F5F5F5;
}
.list-group:hover{
    border-left:3px solid #256BA9;
}
.list-group h4 a{
    font-weight: 700;
}
.list-group h4 a:hover{
    color: #990000;
    font-weight: 700;
}
.list-group p,.well p{
    text-indent: 2rem;
}

.infobar {
    color: #9d9d9d;
}
.infobar div{
    padding: 0;
}
.page-content{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.page-content p{
    text-indent: 2rem;
}
.likebtn{
    margin: 20px auto;
    text-align: center;
}

.comment_header{
    border-bottom: 1px solid #eee;
}
.comment_list_group{
    border-bottom: 1px dotted #eee;
    padding: 10px 0;
}
.comment_list_group p{
    text-indent: 2rem;
}
.publish{
    margin: 10px 0;
}

/*footer*/
.bottom{
    border-top: 1px;
}

.wechat_jpg{
    text-align: right;
}
.wechat_jpg img{
    width: 90px;
    height: 100px;
    margin: 5px;
}

img {
  max-width:100%;
  height:auto ; 
}

.QQnum li{
    list-style: none;
    margin-top: 10px;
}

.support a{
    color: #333;
}
.well-sm li{
    line-height: 30px;
}


.blurimg:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 10px 0 5px #223cd1;
}

/*
.support tr td:first-child{
    padding-top: 20px;
    padding-left: 40px;
}
.support tr:nth-child(1) td:nth-child(2){
    padding-top: 12px;
}
.support tr:nth-child(2) td:nth-child(2){
    padding-top: 20px;
    padding-left: 92px;
}*/
